<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/rankme.svg" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <!-- REQUIRED Nav Bar -->

          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <!-- <i class="ni ni-cart text-primary"></i> -->
              <i><img src="/static/assets/img/icons/shop.svg"></i>
              <span class="nav-link-text">eCommerce Analytics</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="MFC-conservation.html">
              <i><img src="/static/assets/img/icons/conversion.svg"></i>
              <span class="nav-link-text">MCF Conversion</span>
            </a>
            </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/">
              <i><img src="/static/assets/img/icons/google-add.svg"></i>
              <span class="nav-link-text">Google Ads</span>
            </a>
            </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/">
              <i><img src="/static/assets/img/icons/analytics.svg"></i>
              <span class="nav-link-text">User Analytics</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/">
              <i><img src="/static/assets/img/icons/line-chart.svg"></i>
              <span class="nav-link-text">Traffic Analytics</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="facebookroasdata.html">
              <i><img src="/static/assets/img/icons/dollar.svg"></i>
              <span class="nav-link-text">Facebook ROAS Data</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="facebookads.html">
              <i><img src="/static/assets/img/icons/speaker.svg"></i>
              <span class="nav-link-text">Facebook Ads</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="activeuserlocation.html">
              <i><img src="/static/assets/img/icons/profile.svg"></i>
              <span class="nav-link-text">Active Users / Location</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="activepagescustomchart.html">
              <i><img src="/static/assets/img/icons/layer.svg"></i>
              <span class="nav-link-text">Active Pages / Custom Chart</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="seo.html">
              <i><img src="/static/assets/img/icons/seo.svg"></i>
              <span class="nav-link-text">SEO / Google SERPs</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="agegroup.html">
              <i><img src="/static/assets/img/icons/group.svg"></i>
              <span class="nav-link-text">Age Group</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="countofsession.html">
              <i><img src="/static/assets/img/icons/monitor.svg"></i>
              <span class="nav-link-text">Count of Sessions</span>
            </a>
            </li>
             <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="consolekeywords.html">
              <i><img src="/static/assets/img/icons/key.svg"></i>
              <span class="nav-link-text">Console Keywords</span>
            </a>
            </li>
          
       
        
      
        </ul>
          
        <!-- Divider -->
        <hr class="my-3">

        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/">
              <i><img src="/static/assets/img/icons/report.svg"></i>
              <span class="nav-link-text">Reports</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/">
            <i><img src="/static/assets/img/icons/knowledgebase.svg"></i>
            <span class="nav-link-text">Knowledge Base</span>
          </a>
      </li>
        <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/">
              <i><img src="/static/assets/img/icons/check-circle.svg"></i>
              <span class="nav-link-text">To Do List</span>
            </a>
         </li>
         
        </ul>
      </div>
    </div>
  </div>
</nav>